.idea
/nbproject
vendor
composer.lock
.phpunit.cache
.phpunit.result.cache

# Coverage reports
coverage-*.xml
coverage/
.coverage

# Examples
examples/config.php
examples/**/*.db
examples/**/*.sqlite
examples/**/*.sql
