includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 8
    paths:
        - src
    
    # Exclude vendor, examples and tests from analysis
    excludePaths:
        - vendor
        - examples
        - tests
    
    # For PHP 8.4
    phpVersion: 80400
    
    # Enable strict checks
    treatPhpDocTypesAsCertain: false
    
    # Additional strict checks for detecting redundant code
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkDynamicProperties: true